body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@font-face {
    font-family: 'Keshia';
    src: url('fontes/Keshia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('fontes/LTInternet-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    margin: 0;
    color: #dfd8ff;
    font-size: 3rem;
    font-family: 'Keshia', sans-serif;
    padding-inline-start: 60px;
    padding-inline-end: 100px;
}
.banner {
    height: 60vh;
    /*8background-image: url(imagens/fundo.png);*/
    background-color: rgb(6, 6, 29);
    background-position: center;
    background-size: cover; /*preenche toda a tela*/

}

h3 {
    color:  #ffffff;
    position: relative;
    text-align: center;
    line-height: 1.1;
    
}

p {
    color: #dfd8ff;
    font-size:1.1rem;
    font-family:'Regular', sans-serif;
    padding-inline-start: 60px;
    padding-inline-end: 100px;
}

.capaimg{
    width: 150px;
    border-radius: 200%;
    padding: 9px;
    border: 1px solid transparent;
    
    background:
        linear-gradient(rgb(6, 6, 29))padding-box,    
        linear-gradient(90deg, #dfd8ff, #46e3ff) border-box; /*tdç caixa de preenchimento*/
}

table {
    padding: 50px;
}

/*
.buttonb1 {
    display: block;
    margin: auto;
}

.bloco1{
    width: 200px;
    height: 115px;
    background-color: #B4005C;
    border-radius: 15px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;

}

.buttonb2 {
    display: block;
    margin: auto;
}
.bloco2{
    width: 200px;
    height: 115px;
    background-color: #277913;
    border-radius: 15px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;

}

.buttonb3 {
    display: block;
    margin: auto;
}
.bloco3{
    width: 200px;
    height: 115px;
    background-color: #C24886;
    border-radius: 15px;
    padding-top: 2px;    
    padding-left: 8px;
    padding-right: 8px;

}

.blocos {
    display: flex;
    justify-content: center; /* centraliza os blocos */ 
